/* Support both old and new class names for backward compatibility */
.mce-content-body .videoaws-placeholder + br,
.mce-content-body .videolesson-placeholder + br {
    display: none;
}
.mce-content-body .videoaws-placeholder,
.mce-content-body .videolesson-placeholder {
    color: transparent;
    width: 100%;
    word-break: break-all;
    height: 260px;
    cursor: pointer;
    background: url([[pix:tiny_videolesson|icon-white]]) center center / 100px auto no-repeat #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 12px;
}

.mce-content-body .videoaws-placeholder::after,
.mce-content-body .videolesson-placeholder::after {
    content: attr(title);
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 4px;
    max-width: 90%;
    word-break: break-word;
    white-space: normal;
    position: absolute;
    top: 5%;
}
